## OOP


Objects have - (i) Methods (ii) Attributes

In [2]:
class Player:

  member = False # Class object attribute, not dynamic
  def __init__(self,name):
    self.name = name # attributes
    self.member = True

  def run(self):
    # return self.member
    print('run')
    return 'done'

p1 = Player('Siam')
print(p1.name)
print(p1.run())
print(p1.member)

Siam
run
done
True

## Set & Get Method

In [3]:
class Book:

  def __init__(self,name,author):
    self.name = name
    self.author = author
    self.price = 0

  def set_price(self, price):
    self.price = price

  def get_price(self):
    return self.price

  def details(self):
    print("Book name:", self.name,
          "\nAuthor:", self.author,
          "\nPrice:", self.price, "Taka")
    
# ==========================================================================

b1 = Book('Jingle Bells','Siam')
b1.set_price(300)
b1.get_price()
b1.details()

Book name: Jingle Bells
Author: Siam
Price: 300 Taka

## Pass by Reference

In [4]:
class Cat:

  def __init__(self,name,action):
    self.name = name
    self.action = action

  def compare(self, x):
    if self.action == x.action:
      print('They are doing the same thing')
    else:
      print('They are different')

#==========================================================================

a1 = Cat('Tom','eating')
a2 = Cat('Jerry','barking')
a1.compare(a2)

They are different

## Pass by Value

In [5]:
class Cat:

  def __init__(self,name,action):
    self.name = name
    self.action = action

  def view(self,x,arr):
    x = x + 5 
    new_arr = arr
    new_arr[0] = "Black"
    print("The number is",x)
    print("The list is",new_arr)

#==============================================================================

color = ['red','green','blue']
c1 = Cat('Siam','sleeping')
num = 55
c1.view(num,color)

print("\n------------------------------------------")

print("\nValue of num is",num)
print("List contains this color",color)

The number is 60
The list is ['Black', 'green', 'blue']

------------------------------------------

Value of num is 55
List contains this color ['Black', 'green', 'blue']

## Method Overloading

In [6]:
class Calculator:

  def add(self,num1,num2):
    return num1+num2

  def product(self,num1,num2):
    return num1*num2

  def add(self,num1,num2,num3):
    return num1+num2+num3

#==============================================================================

a = Calculator()
a.add(3,4,5)  # last method with same name will execute
a.add(3,4,8)

15

In [7]:
class Calculator:

  def add(self,num1,num2=None,num3=None):
    if num1 != None and num2 != None and num3 != None:
      print(num1+num2+num3)
    elif num1 != None and num2 != None:
      print(num1+num2)
    else:
      print(num1+0)


#==============================================================================

a = Calculator()
a.add(5,5)  # last method with same name will execute
a.add(5,5,10)
a.add(5)

10
20
5

In [8]:
class Calculator:

  def add(self,*nums):
    sum = 0
    for x in nums:
      sum = sum + x
    print(sum)

#=================================================================


a = Calculator()
a.add(10,20,30,50)

110

## Constructor Overloading

In [9]:
class Animal:
    
    def __init__(self,**info):
        if len(info) == 3:
            self.name = info['name']
            self.id = info['id']
            self.action = info['action']
        if len(info) == 2:
            self.name = info['name']
            self.id=info['id']

            
        if len(info) == 1:
            self.name = info['name']
            
        print('A Animal class object is created') 



# class Animal:
    
#     def __init__(self,*info):
#         if len(info) == 3:
#             self.name = info[0]
#             self.id = info[1]
#             self.action = info[2]
#         if len(info) == 2:
#             self.name = info[0]

            
#         if len(info) == 1:
#             self.name = info[0]
            
#         print('A Animal class object is created')


p1 = Animal(name='Fox',id=54,action='sleeping')
p2 = Animal(name='Tiger',id=70)
p3 = Animal(name='Cat')
p4 = Animal()

A Animal class object is created
A Animal class object is created
A Animal class object is created
A Animal class object is created

## Operator Overloading

In [10]:
class Data:
    
    def __init__(self,row,column):
        self.x = row
        self.y = column
        
    def elements(self):
        print("The data has", self.x,"rows and",self.y,"columns")
        
    def __add__(self,other):
        new_row = self.x + other.x
        new_column = self.y + other.y
        object_1 = Data(new_row,new_column)
        return object_1
        # return "New data has " + str(new_row) + " rows and " +            str(new_column) + " columns"  

#============================================================================


num1 = Data(10,20) 
num2 = Data(2,8)
num1.elements()
num2.elements()
num3 = num1 + num2
num3.elements()
# print(num1+num2)

The data has 10 rows and 20 columns
The data has 2 rows and 8 columns
The data has 12 rows and 28 columns

## Encapsulation

private public attribute

In [11]:
class Student:
    
    def __init__(self, name, id):
        self.name = name
        self.__id = id
        
    def details(self):
        print("Student name:", self.name, "ID:",self.__id)
    
    
    def update_id(self,ID):
        if ID>0:
            self.__id = ID
        else:
            print("Invalid ID, Enter a New ID")
    
#============================================================================


a = Student('Siam',50)
b = Student('Jack',40)

a.__id = 50 # no use

a.update_id(40)
a.details()
b.details()

Student name: Siam ID: 40
Student name: Jack ID: 40

getter setter

In [12]:
class Student:
    
    def __init__(self, name, id):
        self.name = name
        self.__id = id
        
    def details(self):
        print("Student name:", self.name, "ID:",self.__id)
    
    
    def set_id(self,ID):
        if ID>0:
            self.__id = ID
        else:
            print("Invalid ID, Enter a New ID")

    def get_id(self):
      return self.__id
    
#============================================================================


a = Student('Siam',50)
b = Student('Jack',40)

a.__id = 50 # no use

a.set_id(4000)
a.get_id()
# print(a.get_id())
a.details()
# b.details()

Student name: Siam ID: 4000

private method

In [13]:
class Student:
    
    def __init__(self, name, id):
        self.name = name
        self.__id = id
        
    def details(self):
        print("Student name:", self.name, "ID:",self.__id)
        self.__method()
    
    
    def __method(self):
      print("Private method is created")


a = Student('Siam',40)
a.details()
# a.__method()

Student name: Siam ID: 40
Private method is created

## Class Variable

In [14]:
class Player:
    
    team_score = 0                  #class variable
    
    def __init__(self,name,score):
        self.name = name
        self.run = score
        
    def hit_four(self):
        self.run +=4
        Player.team_score +=4
        
    def hit_six(self):
        self.run +=6
        Player.team_score +=6
        
    def get_team_score(self):
        print("Total run:",Player.team_score)
        
    def get_player_score(self):
        print(self.name, "score is:", self.run  )
        
#============================================================================


a = Player('Sakib',0)
b = Player('Tamim',0)
b.hit_six()
a.hit_four()
a.hit_six()
a.get_team_score()
a.get_player_score()

Total run: 16
Sakib score is: 10

In [15]:
class Student:

  num_of_student = 0

  def __init__(self,name,id):
    self.name = name
    self.id = id
    Student.num_of_student += 1

  def view(self):
    print('Student Name:',self.name, "\nID:",self.id)
    print("Total number of Students:",Student.num_of_student)


s1 = Student('Siam',0)
s2 = Student('Bob',1)
s3 = Student('Jack',2)
s3.view()

Student Name: Jack
ID: 2
Total number of Students: 3

## Class Method

In [16]:
class Employee:

  org_name = 'Apple'

  def __init__(self,name):
    self.name = name

  @classmethod
  def info(cls):
    return cls.org_name

print(Employee.info())

Apple

In [17]:
class Student:

  uni_name = 'BracU'

  def __init__(self,name,id):
    self.name = name
    self.id = id

  def details(self):
    print("Name:",self.name,"\nID:",self.id,"\nUniversity:",Student.uni_name)

  @classmethod
  def update_name(cls,new_name):
    Student.uni_name = new_name

s1 = Student('Siam',11)
s2 = Student('Jack',49)
s1.details()
print("\n")
Student.update_name('Dhaka University')
s1.details()

Name: Siam
ID: 11
University: BracU


Name: Siam
ID: 11
University: Dhaka University

## Class Method (with Constructor Overloading)

In [18]:
class Student:

  uni_name = 'BracU'

  def __init__(self,name,id):
    self.name = name
    self.id = id

  def details(self):
    print("Name:",self.name,"\nID:",self.id,"\nUniversity:",Student.uni_name)

  @classmethod
  def update_name(cls,new_name):
    Student.uni_name = new_name

  @classmethod
  def overload(cls, info):
    name, id = info.split('-')
    obj = cls(name,id)
    return obj


s1 = Student('siam',4)
s2 = Student('bob',20)
s3 = Student.overload('Jack-90')
s3.details()

Name: Jack
ID: 90
University: BracU


## Static Method

In [19]:
class Employee:

  org_name = 'Apple'

  def __init__(self,name):
    self.name = name

  @staticmethod
  def info():
    print('static method created')

Employee.info()

static method created

In [20]:
class Student:

  uni_name = 'BracU'

  def __init__(self,name,id):
    self.name = name
    self.id = id

  def details(self):
    print("Name:",self.name,"\nID:",self.id,"\nUniversity:",Student.uni_name)

  @staticmethod
  def check_dept(id):
    if id[3:5] == "01":
      print('Department: CSE')
    elif id[3:5] == "41":
      print('CS')
    
Student.check_dept('17101235')
s1 = Student('Siam',17101235)
s1.details()
# s1.check_dept('17101235')

Department: CSE
Name: Siam
ID: 17101235
University: BracU

In [21]:
class chess:

  member = True # Class object attribute, not dynamic
  def __init__(self,name): 
    if(self.member): # or chess.member instead of self.member
      self.name = name # attributes

  def run(self):
    print('run')
    return 'done'

p1 = chess('Siam')
print(p1.name)
print(p1.run())
print(p1.member)

Siam
run
done
True

In [22]:
class chess:

  member = True # Class object attribute, not dynamic
  def __init__(self,name,age): 
    if(age>20): # or chess.member instead of self.member
      self.name = name # attributes
      self.age = age

  def run(self):
    print(f'My name is {self.name}')

  def shout(self, x):
    print(f'My name is {self.x}')

p1 = chess('Siam',21)
print(p1.run())
# print(p1.member)

My name is Siam
None

In [23]:
class chess:

  member = True # Class object attribute, not dynamic
  amount = 5

  def __init__(self,name,age): 
    if(age>20): # or chess.member instead of self.member
      self.name = name # attributes
      # self.age = age

  def run(self):
    print(f'My name is {self.name}')

  def shout(self, x):
    print(f'My name is {self.x}')

  @classmethod
  def call(cls, n1, n2):
    cls.amount = 100
    print(cls.amount)
    return n1+n2


  @staticmethod
  def bark(n3,n4):
    return n3+n4

p1 = chess('Siam',21)
print(p1.call(3,5))
print(p1.bark(4,6))
print(chess.amount)
# print(p1.member)

100
8
10
100

## Class vs Static Method

In [24]:
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@gmail.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        # return '{} {}'.format(self.first, self.last)
        return f"{self.first},{self.last}"

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)

    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True


emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

# Employee.set_raise_amt(1.05)

# print(Employee.raise_amt)
# print(emp_1.raise_amt)
# print(emp_2.raise_amt)

# emp_str_1 = 'John-Doe-70000'
# emp_str_2 = 'Steve-Smith-30000'
# emp_str_3 = 'Jane-Doe-90000'

# first, last, pay = emp_str_1.split('-')

# #new_emp_1 = Employee(first, last, pay)
# new_emp_1 = Employee.from_string(emp_str_1)

# print(new_emp_1.email)
# print(new_emp_1.pay)

import datetime
my_date = datetime.date(2016, 7, 11)

print(Employee.is_workday(my_date))

True

In [25]:
# class NameOfClass:
#   class_attribute = 'value'

#   def __init__(self,param1,param2):
#     self.param1 = param1
#     self.param2 = param2

#   def method(self):
#     # code

  # classmethod
#   def cls_method(cls,par1,par2):
#     # code

  # staticmethod
#   def stat_method(par1,par2):
#     # code

## Instance Method

In [26]:
class Animal:
  color = 'black'
  # def __init__(self):
  #   self.color = 'white'
  #   print('This is default Constructor')

  def __init__(self, x):
    self.name = x
    print('-------------------------')
    print("The dog's name is ", x)
    print("-------------------------")

  def show(self,y):
    print(f"My dog {self.name} can {y}")
    print('============================')
  
  def change(self, z):
    self.name = z
    print(f"The new dog is {z}")
    print('============================')

  def show_name(self):
    print(self.name)
    print('===========================')


# obj = Animal()
obj2 = Animal('Jack')
obj2.show('talk')
obj2.show_name()
obj2.change('Salman')
obj2.show_name()

-------------------------
The dog's name is  Jack
-------------------------
My dog Jack can talk
============================
Jack
===========================
The new dog is Salman
============================
Salman
===========================

In [27]:
class Python:

  def __init__(self,title,author,price):
    self.title = title
    self.author = author
    self.price = price

  def setTitle(self,title):
    self.title = title

  def setAuthor(self,author):
    self.author = author

  def setPrice(self,price):
    self.price = price

  def __str__(self):
    return f" The title of the book is {self.title}, author is {self.author} and the price is {self.price}"


b1 = Python('Hello Boy','Siam',400)
b1.setTitle('Hi')
b1.setAuthor('No One')
b1.setPrice(69)
print(b1)

 The title of the book is Hi, author is No One and the price is 69

In [28]:
class Student:
  university_name = 'BRACU'
  courses = []

  def __init__(self,name,id,address):
    self.name = name
    self.id = id
    self.address = address

  def course_add(self,*course_name):
    for i in course_name:
      self.courses.append(i)

  def course_drop(self,course):
    self.courses.remove(course)

  def show_courses(self):
    print(self.courses)

  def display(self):
    return f"Student's name is {self.name}, id - {self.id} and address - {self.address}"

s1 = Student("siam",123,"dhaka")
s1.course_add("e","b","c")
s1.show_courses()
s1.display()
s1.course_drop("e")
s1.show_courses()

['e', 'b', 'c']
['b', 'c']

## Inheritance

In [29]:
class Employee:
    raise_amnt = 1.25
    no_of_employee = 0

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last 
        self.pay = pay
        self.email = first.lower() + "." + last.lower() + "@gmail.com"
        Employee.no_of_employee += 1


    def fullname(self):
        return f"{self.first} {self.last}"

    def apply_raise(self):
        self.pay = int(self.raise_amnt * self.pay) 


class Developer(Employee):
    raise_amnt = 2

    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first,last,pay)
#       Employee.__init__(self,first,last,pay) this will also work
        self.prog_lang = prog_lang


class Manager(Employee):

    def __init__(self, first, last, pay, employees=None):
       # we dont want to pass mutable data types such as lists or dictionaries as default argument.
        super().__init__(first,last,pay)
        if employees is None:
           self.employees = []
        else:
           self.employees = employees

    def add_Employee(self, emp):

       if emp not in self.employees:
           self.employees.append(emp)
        
    def remove_Employee(self, emp):
       if emp in self.employees:
          self.employees.remove(emp)


    def prnt_emps(self):
      for emp in self.employees:
         print('-->', emp.fullname())



dev_1 = Developer('Siam','Islam',20000,'Python')
dev_2 = Developer('Noor','Afrin',3000,'Java')
dev_3 = Developer('x','y',0,'C++')

man_1 = Manager('Sue','Smith',10000,[dev_1])
man_2 = Manager('Joe','Barber',50000,[dev_1,dev_2,dev_3])

# print(man_1.email)
# # man_1.prnt_emps()
# man_1.add_Employee(dev_3)
# man_1.prnt_emps()

# print("After removal")
# print("--------")

# man_1.remove_Employee(dev_1)
# man_1.prnt_emps()


# print(dev_1.email)
# print(dev_1.fullname())
# print(dev_2.email)

# print(dev_1.pay)
# dev_1.apply_raise()
# print(dev_1.pay)

# print(dev_3.email)
# print(dev_3.prog_lang)
# print(Employee.no_of_employee)

# print(isinstance(man_1,Manager))
# print(isinstance(man_1,Employee))
# print(isinstance(man_1,Developer))
print(issubclass(Developer,Employee))
print(issubclass(Employee,Manager))
print(issubclass(Developer,Manager))

True
False
False

## __str__ method

In [30]:
class Vehicle:
    
    def __init__(self,type,model,year):
        self.type = type
        self.model = model
        self.year = year
        print(self)
        
    
    def __str__(self):
        return "Vehice Type: " + self.type + "\nModel: "+ self.model+"\nRegistration Year: " + str(self.year)

#===========================================================================

a = Vehicle('Car','Axio',2003)
# print(a.__str__())

Vehice Type: Car
Model: Axio
Registration Year: 2003

## Abstract Class

In [31]:
 from abc import ABC, abstractmethod

class Animal(ABC):
    
    @abstractmethod         
    def sound(self):               #abstract method must not have any body
        pass
    
    def eat(self):
        print("The animal is eating")
        
#===========================================================================

class Dog(Animal):
    
    def sound(self):
        print("Dog is barking")
        
#===========================================================================

class Cat(Animal):
    
    def sound(self):
        print("Cat is meowing")
        
#===========================================================================

d1 = Dog()
d1.sound()
c1 = Cat()
c1.sound()
c1.eat()

Dog is barking
Cat is meowing
The animal is eating