In [97]:
age = 12
name = 'Siam'

In [98]:
'My name is {} and my age is {}'.format(name,age)

'My name is Siam and my age is 12'

In [99]:
'My name is {one} and my age is {two}'.format(one=name,two=age)

'My name is Siam and my age is 12'

In [100]:
s = "Hello Programmers"
s[0:-1]
s[0:-1:2]

'HloPorme'

In [101]:
a = [1,2,['c','b']]
a[2][1]

'b'

In [102]:
print(a[2][1])

b

In [103]:
nest = [1,2,3,[4,5,['Siam']]]
nest[3][2]

['Siam']

In [104]:
d = {'key1':'Siam', 'key2':12}
d.keys

In [105]:
print(d['key1'])

Siam

In [106]:
d.keys()

dict_keys(['key1', 'key2'])

In [107]:
d.items()

dict_items([('key1', 'Siam'), ('key2', 12)])

In [108]:
d.values()

dict_values(['Siam', 12])

In [109]:
for i in d:
  print(i,d[i])
  #print(d[i])

key1 Siam
key2 12

In [110]:
for key,value in d.items():
  print(key,value)
  #print(key)
  #print(value)

key1 Siam
key2 12

In [111]:
d1 = {'k':['a','b',2],'k2':'nothing'}
d1['k']

['a', 'b', 2]

In [112]:
my_list = d1['k']
my_list[0]
# d1['k'][0]

'a'

In [113]:
d1['k'][0]

'a'

In [114]:
d2 = {'k1':{'innerkey':[1,2,3]}}
# extracting '2' 
d2['k1']['innerkey'][1]

2

In [115]:
t = (1,2,3)
my_tuple = t
my_tuple

(1, 2, 3)

Tuples can not be mutated. We can not assign new values to tuple like lists.

In [116]:
a = [1,2,2,2,3,3,3,46,7,5,3,4,99]
b = {1,22,22,2,33,43,33,416,7,5,3,4,99}
set(a)

{1, 2, 3, 4, 5, 7, 46, 99}

In [117]:
set(b)

{1, 2, 3, 4, 5, 7, 22, 33, 43, 99, 416}

In [118]:
'Siam' != 'Sami'

True

In [119]:
x = [1,2,3,4]
output = []

for i in x:
  output.append(i**2)
print(output)

[1, 4, 9, 16]

In [120]:
[num**2 for num in x]

[1, 4, 9, 16]

In [121]:
def axis(text):
  print('My name is {one}'.format(one=text))
axis('Siam')

My name is Siam

In [122]:
def axis(text='default'):
  print('My name is {one}'.format(one=text))
axis()

My name is default

In [123]:
def mul(num):
  return num*2
seq = [1,2,3,4,5]
list(map(mul,seq))

[2, 4, 6, 8, 10]

In [124]:
lambda var:var*2 # alternative of writing a function

In [125]:
a = lambda var:var*2
a(2)

4

In [126]:
seq = [1,2,3,4,5]
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [127]:
print(list(filter(lambda num: num%2==0,seq)))

[2, 4]

In [128]:
text = 'I love @programming @world'
#text.lower()
#text.upper()
text.split('@')[2]

'world'

In [129]:
x = [(1,2),(3,4),(5,6)]
for i in x:
  print(i)

(1, 2)
(3, 4)
(5, 6)

In [130]:
for (a,b) in x:
  print(a)
  print(b)

1
2
3
4
5
6

** Exercises **

In [131]:
 7**4

2401

In [132]:
s = "Hi there Sam!"
a=s.replace("Sam!","Dad!")
a.split()

['Hi', 'there', 'Dad!']

In [133]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [134]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [135]:
def email(a):
  return a.split('@')[1]

email('shehabul97@gmail.com')

'gmail.com'

In [136]:
def findDog(e):
  if 'dog' in e:
    return True
  else:
    return False

findDog('Is there a dog here?')

True

In [137]:
def dogCount(text):
  a=text
  b=a.split()
  count=0
  print(b)
  for i in b:
    if 'dog' in i:
      count=count+1

  return count
  

dogCount('This dog runs faster than other dog dude!')

['This', 'dog', 'runs', 'faster', 'than', 'other', 'dog', 'dude!']

2

In [138]:
seq = ['soup','dog','salad','cat','great']
print(list(filter(lambda a:a.startswith('s'),seq)))

['soup', 'salad']

In [139]:
def traffic(speed, is_birthday):
  if is_birthday:
      sp=speed-5
  else:
    sp=speed
  if sp > 60 and sp <=80:
    return "Small Ticket"
  elif sp < 60:
    return "No Ticket"
  else: 
    return "Big Ticket"
traffic(81,False)

'Big Ticket'

In [140]:
def super_func(*args, **kwargs):
  total=0
  for x in kwargs.values():
    total+=x
  return sum(args)+total
print(super_func(1,2,3,4,5, num1=5,num2=10))

#Rule: func(params, *args, default_param, **kwargs)  eg: func(name, *args, i='hi', **kwargs)

30

In [141]:
a='harry'
b='hermione'
seen = []
duplicate = []
c = a+b
for x in c:
    if x not in seen:
        seen.append(x)
    else:
      duplicate.append(x)    
print(duplicate)

['r', 'h', 'r', 'e']

In [142]:
c = a+b
c

'harryhermione'

In [143]:
a = [1, 2, 3, 4]
b = [2, 3, 4, 5]

ab = [val * b[i] for i, val in enumerate(a)]
print(ab)

[2, 6, 12, 20]

In [144]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

products = [a * b for a, b in zip(list1, list2)]
products

[4, 10, 18]

In [145]:
t1 = [1, 3, 4] 
t2 = [4, 5, 6]
output_list = []
# output_list = [i * j for j in t1 for i in t2]
for j in range(len(t1)):
  for i in range(len(t2)):
    output_list.append(t2[i]*t1[j])
output_list

[4, 5, 6, 12, 15, 18, 16, 20, 24]

In [146]:
# totalnum_lists= input ("Enter the total number of lists: ")
# x=0
# max_sum=0
# total=0
# count=0
# while x<int(totalnum_lists):
#     mylist=input()
#     mylist2=mylist.split()
#     for a in range (0,len(mylist2)):
#         total=total+int(mylist2[a])
#         if total> max_sum :
#             max_sum= total
#             count = count+1
# print (max_sum)

In [147]:
# def maxSum(lists): 
#     maxi = 0
    
 
#     for x in lists: 
#         maxi= max(sum(x), maxi) 
          
#     return maxi

## Enumerate

In [148]:
a = ('A','B','C')
output = enumerate(a)
print(output)

for count, item in enumerate(a):
  print(count, ' ', item)

<enumerate object at 0x7f82469c8320>
0   A
1   B
2   C

In [149]:
for count, item in enumerate(a,2):
  print(count, ' ', item)

2   A
3   B
4   C

## Zip

In [150]:
a = [1,2,3,4,5,6]
b = ['A','B','C','D','E','F']
c =  [2, 'C', 3 , 'D', 4, 'E', 7 ,8]

for item_a, item_b, item_c in zip(a,b,c):
  print(item_a,' ',item_b,' ',item_c)

1   A   2
2   B   C
3   C   3
4   D   D
5   E   4
6   F   E

# Comprehensions

In [151]:
numbers = [1,2,3,4,5]
lst1 = []

for i in numbers:
  lst1.append(i**2)
print(lst1)

[1, 4, 9, 16, 25]

In [152]:
# a
lst2 = [i**2 for i in numbers]
print(lst2)

[1, 4, 9, 16, 25]

In [153]:
# b
lst2 = [i**2 for i in numbers if i>2]
print(lst2)

[9, 16, 25]

In [154]:
# c
lst2 = [i**2 if i>2 else i/2 for i in numbers]
print(lst2)

[0.5, 1.0, 9, 16, 25]

In [155]:
st = {n for n in numbers if n>3}
print(st)

{4, 5}

In [156]:
dct = {n:n**2 for n in numbers if n>3}
print(dct)

{4: 16, 5: 25}

## String Formatting

In [157]:
name = "Siam"
weight = 25.46735
n_w = "{:.2f}".format(weight)
stpt = f"My name is {name} and my age is {n_w}"
print(stpt)

My name is Siam and my age is 25.47

## Arbitrary Argument

In [158]:
def a(a,b,*args):
  print('a is : ',a)
  print('b is : ',b)
  ty = type(args)
  print('type of args is : ',ty)
  print('args value are : ',args)

a(1,2,3,4,'e',6,'f')

a is :  1
b is :  2
type of args is :  <class 'tuple'>
args value are :  (3, 4, 'e', 6, 'f')

In [159]:
def minimum(*args):
  min = args[0]

  for i in args:
    if i < min : 
      min = i
  return min

minimum(20,2,4,60,-1)

-1

In [160]:
def display(*msg):
  for x in msg:
    print(x, end=' ')

display("Python", "is", "fun")

Python is fun

## Keyword Argument

In [161]:
def a(a,b,**kwargs):
  print('a is : ',a)
  print('b is : ',b)
  ty = type(kwargs)
  print('type of args is : ',ty)
  print('args value are : ',kwargs)

a(1,2)

a is :  1
b is :  2
type of args is :  <class 'dict'>
args value are :  {}

In [162]:
def a(a,b,**kwargs):
  print('a is : ',a)
  print('b is : ',b)
  ty = type(kwargs)
  print('type of args is : ',ty)
  print('args value are : ',kwargs)

a(1,2,name='siam',age=25)

a is :  1
b is :  2
type of args is :  <class 'dict'>
args value are :  {'name': 'siam', 'age': 25}

In [163]:
def car(**models):
  print("Model of the car is ", models['m2'])

car(m1='BMW',m2='Ferarri')

Model of the car is  Ferarri

In [164]:
def fruit_color(**kwargs):
  for a,b in kwargs.items():
    s = f'the color of {a} is {b}'
    print(s)

fruit_color(banana='yellow',chocolate='dark')

the color of banana is yellow
the color of chocolate is dark

## args and kwargs

In [165]:
def gen_func(a,b,c='i am C',d='i am D',*args,**kwargs):
  print('a is : ',a)
  print('b is : ',b)
  print('c is : ',c)
  print('d is : ',d)
  print('args is : ',args)
  print('kwargs is : ',kwargs)

gen_func(1,2,'I am changed C', 'I am changed D',5,6,7,name='Siam',age=24)

a is :  1
b is :  2
c is :  I am changed C
d is :  I am changed D
args is :  (5, 6, 7)
kwargs is :  {'name': 'Siam', 'age': 24}

## Lambda Function
1. map ()
2. filter ()

In [166]:
# def func_name(x):
#   return x*x

# func_name(4)

new_func = lambda x: x*x
print(new_func(4))

16

In [167]:
exp = lambda x,y,z : x+y+z
print(exp(1,2,3))

6

In [168]:
put = lambda *args : sum(args)
print(put(1,2,3,5))

11

In [169]:
put = lambda **kwargs : sum(kwargs.values())
print(put(a=1,b=2,c=3,d=5))

11

In [170]:
strs = ['Siam','Islam']

new_list = []

for i in strs:
  new_list.append(i.lower())

print(new_list)

['siam', 'islam']

In [171]:
low = lambda x: x.lower()
result = map(low, strs)
print(type(result))
print(list(result))

<class 'map'>
['siam', 'islam']

In [172]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6]

mul = lambda x,y : x*y
result = map(mul, l1,l2)
print(list(result))

[3, 8, 15, 24]

In [173]:
l1 = [1,2,3,4,5]


mul = lambda x : x%2==0
result = filter(mul,l1)
print(list(result))

[2, 4]

In [174]:
l1 = [1,2,3,4,5]


mul = lambda x : x%2==0
result = map(mul,l1)
print(list(result))

[False, True, False, True, False]

## Exceptions

In [175]:
try: 
  a = 4/0
  print(a)

except:
  print('There might be a problem')

else:
  print('Ok')

There might be a problem

In [176]:
try: 
  import x
  a = [10,440,20]
  # b = a[4]
  c = a[0]
  # print(b)
  print(c)

except IndexError:
  print('There might be a index error problem')

except ZeroDivisionError:
  print('There might be a division error problem')

except:
  print("Handle Properly")

else:
  print('Ok')

Handle Properly

## Object Oriented Programming

Objects have -
(i) Methods
(ii) Attributes

In [177]:
class Player:

  member = False # Class object attribute, not dynamic
  def __init__(self,name):
    self.name = name # attributes
    self.member = True

  def run(self):
    # return self.member
    print('run')
    return 'done'

p1 = Player('Siam')
print(p1.name)
print(p1.run())
print(p1.member)

Siam
run
done
True

In [178]:
class chess:

  member = True # Class object attribute, not dynamic
  def __init__(self,name): 
    if(self.member): # or chess.member instead of self.member
      self.name = name # attributes

  def run(self):
    print('run')
    return 'done'

p1 = chess('Siam')
print(p1.name)
print(p1.run())
print(p1.member)

Siam
run
done
True

In [179]:
class chess():

  member = True # Class object attribute, not dynamic
  def __init__(self,name,age): 
    if(age>20): # or chess.member instead of self.member
      self.name = name # attributes
      self.age = age

  def run(self):
    print(f'My name is {self.name}')

  def shout(self, x):
    print(f'My name is {self.x}')

p1 = chess('Siam',21)
print(p1.run())
# print(p1.member)

My name is Siam
None

In [180]:
class chess:

  member = True # Class object attribute, not dynamic
  amount = 5

  def __init__(self,name,age): 
    if(age>20): # or chess.member instead of self.member
      self.name = name # attributes
      # self.age = age

  def run(self):
    print(f'My name is {self.name}')

  def shout(self, x):
    print(f'My name is {self.x}')

  @classmethod
  def call(cls, n1, n2):
    cls.amount = 100
    print(cls.amount)
    return n1+n2


  @staticmethod
  def bark(n3,n4):
    return n3+n4

p1 = chess('Siam',21)
print(p1.call(3,5))
print(p1.bark(4,6))
print(chess.amount)
# print(p1.member)

100
8
10
100

In [181]:
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@gmail.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        # return '{} {}'.format(self.first, self.last)
        return f"{self.first},{self.last}"

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)

    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True


emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

# Employee.set_raise_amt(1.05)

# print(Employee.raise_amt)
# print(emp_1.raise_amt)
# print(emp_2.raise_amt)

# emp_str_1 = 'John-Doe-70000'
# emp_str_2 = 'Steve-Smith-30000'
# emp_str_3 = 'Jane-Doe-90000'

# first, last, pay = emp_str_1.split('-')

# #new_emp_1 = Employee(first, last, pay)
# new_emp_1 = Employee.from_string(emp_str_1)

# print(new_emp_1.email)
# print(new_emp_1.pay)

import datetime
my_date = datetime.date(2016, 7, 11)

print(Employee.is_workday(my_date))

True

Structure OOP

In [182]:
# class NameOfClass:
#   class_attribute = 'value'

#   def __init__(self,param1,param2):
#     self.param1 = param1
#     self.param2 = param2

#   def method(self):
#     # code

  # classmethod
#   def cls_method(cls,par1,par2):
#     # code

  # staticmethod
#   def stat_method(par1,par2):
#     # code

## Instance Methods

In [183]:
class Animal:
  color = 'black'
  # def __init__(self):
  #   self.color = 'white'
  #   print('This is default Constructor')

  def __init__(self, x):
    self.name = x
    print('-------------------------')
    print("The dog's name is ", x)
    print("-------------------------")

  def show(self,y):
    print(f"My dog {self.name} can {y}")
    print('============================')
  
  def change(self, z):
    self.name = z
    print(f"The new dog is {z}")
    print('============================')

  def show_name(self):
    print(self.name)
    print('===========================')


# obj = Animal()
obj2 = Animal('Jack')
obj2.show('talk')
obj2.show_name()
obj2.change('Salman')
obj2.show_name()

-------------------------
The dog's name is  Jack
-------------------------
My dog Jack can talk
============================
Jack
===========================
The new dog is Salman
============================
Salman
===========================

In [184]:
class Python:

  def __init__(self,title,author,price):
    self.title = title
    self.author = author
    self.price = price

  def setTitle(self,title):
    self.title = title

  def setAuthor(self,author):
    self.author = author

  def setPrice(self,price):
    self.price = price

  def __str__(self):
    return f" The title of the book is {self.title}, author is {self.author} and the price is {self.price}"


b1 = Python('Hello Boy','Siam',400)
b1.setTitle('Hi')
b1.setAuthor('No One')
b1.setPrice(69)
print(b1)

 The title of the book is Hi, author is No One and the price is 69

In [185]:
class Student:
  university_name = 'BRACU'
  courses = []

  def __init__(self,name,id,address):
    self.name = name
    self.id = id
    self.address = address

  def course_add(self,*course_name):
    for i in course_name:
      self.courses.append(i)

  def course_drop(self,course):
    self.courses.remove(course)

  def show_courses(self):
    print(self.courses)

  def display(self):
    return f"Student's name is {self.name}, id - {self.id} and address - {self.address}"

s1 = Student("siam",123,"dhaka")
s1.course_add("e","b","c")
s1.show_courses()
s1.display()
s1.course_drop("e")
s1.show_courses()

['e', 'b', 'c']
['b', 'c']

## Decorators

In [186]:
def outer(func):
  def inner():
    str1 = func()
    return str1.upper()

  return inner # referencing the function name

@outer
def prnt_str():
  return "good_morning"

print(prnt_str())

GOOD_MORNING

In [187]:
def div_decorator(func):
  def inner(x,y):
    if y == 0:
      print("give proper unit")
    else:
      return func(x,y)
  return inner



@div_decorator
def div(a,b):
  return a/b

div(4,0)

give proper unit

## Multiple Decorator --> Single Function

In [188]:
def upper_d(func):
  def inner():
    str1 = func()
    return str1.upper()
  return inner

def split_d(func):
  def wrapper():
    str2 = func()
    return str2.split()
  return wrapper

@split_d
@upper_d
def a():
  return "Hi Siam"

# first it will upper case then split the string
# cant apply upper function in list so cant interchange the decorator order. i.e 1st - split then 2nd - upper
print(a())

['HI', 'SIAM']

## Decorators with Parameters

In [189]:
def decorator_b(exp):
  def outer(func):
    def inner():
      return exp + func()
    return inner
  return outer

@decorator_b("Siam")
def b():
  return " is a good boy"

print(b())

Siam is a good boy

## General Decorator

In [190]:
def div_decorator(func):
  def inner(*args):
    list1 = []
    list1 = args[1:]
    for i in list1:
      if i==0:
        return "Give proper unit"   
    return func(*args)
  return inner


@div_decorator
def a1(a,b):
  return a/b

@div_decorator
def a2(a,b,c):
  return a/b/c

print(a1(10,2))
print(a2(20,0,1))
print(a2.__name__)

5.0
Give proper unit
inner

## Method Decorator

In [191]:
def check_name(func):
  def inner(xyz):
    if xyz.area == "Gulshan":
      print("It's where I live too")

    else:
      func(xyz)

  return inner



class School:

  def __init__(self,area):
    self.area = area
    
  @check_name
  def location(self):
    print("The location of the School is", self.area)

  # def __call__(self):
  #   print("This is the call method")


obj_1 = School("Gulshan 2")
obj_2 = School("Gulshan")
obj_1.location()
obj_2.location()
# obj_1()

The location of the School is Gulshan 2
It's where I live too

## Call Method

In [192]:
def check_name(func):
  def inner(xyz):
    if xyz.area == "Gulshan":  # xyz.area is same as self.area
      print("It's where I live too")

    else:
      func(xyz)

  return inner



class School:

  def __init__(self,area):
    self.area = area
    
  @check_name
  def location(self):
    print("The location of the School is", self.area)

  def __call__(self):
    print("This is the call method")


obj_1 = School("Gulshan 2")
# obj_2 = School("Gulshan")
# obj_1.location()
# obj_2.location()
obj_1()

This is the call method

## Class Decorator

In [193]:
class Decorator:

  def __init__(self, func):
    self.func = func

  def __call__(self):
    str1 = self.func()
    return str1.upper()


@Decorator
def greet():
  return "Hello Siam"

print(greet())

HELLO SIAM